/* Reset de estilos para garantir consistência em diferentes navegadores */
body,
h1,
h2,
p,
ul,
ol,
li,
figure,
table,
th,
td {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

/* Estilos gerais */

body {
  font-family: 'Arial', sans-serif;
  color: #333;
  background-color: #f4f4f4;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  display: grid;
}

header {
  background-color: #0074d9;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: center;
}

/* Lista de navegação */

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  background-color: #0074d9;
  padding-bottom: 15px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.8s;
}

nav a:hover {
  color: #3f92db;
}

/* Footer */

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-top: auto;
}